.git
.codex
.cursor
.idea
.nova
.vscode
.zed

.DS_Store
Thumbs.db
__MACOSX

.env
.env.*
!.env.example

.phpunit.cache
.phpunit.result.cache
auth.json

node_modules
npm-debug.log
public_html/build
public_html/fonts-manifest.dev.json
public_html/hot
public_html/storage

storage/*.key
storage/logs/*.log
storage/pail

vendor
